<!doctype html>
<html>
	<head>
		<!--Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--bootstrap CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<!--SBB CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<tite>Hello, SBB!</tite>
	</head>
	<body>
		<!--navbar-->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		<!--navbar-->
		
		<!--layout.html: 모든 테이블이 상속해야 하는 템플릿. 표준 HTML 문서 구조로 정리된 기본 틀-->
		<!--기본 템플릿 안에 삽입될 내용 Start-->
		<!--상속한 템플릿에서 개별적으로 구현해야 하는 영역-->
		<!--즉, layout.html 템플릿을 상속하면 아래 영역만 수정해도 표준 HTML 문서로 작성된다.-->
		<th:block layout:fragment="content"></th:block>
		<!--기본 템플릿 안에 삽입될 내용 End-->		
		<!--bootstrap js-->
		<script src="@{/bootstrap.min.js}"></script>
		<!--자바스크립트 Start-->
		<!--화면 출력이 완료된 후 자바스크립트가 실행되는 것이 좋음-->
		<!--화면 출력이 완료되지 않은 상태에서 자바스크립트 실행 시 오류 발생 가능 or 화면 로딩 지연 가능-->
		<th:block layout:fragment="script"></th:block>
		<!--자바스크립트 End-->
	</body>
</html>