<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	
	<!--질문-->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	
	<div class="card my-3">
		
		<div class="card-body">
			
			<div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
			
			<div class="d-flex justify-content-end">				
				<div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">					
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(question,modifyDate, 'yyyy-MM-dd HH:mm')}"></div>					
				</div>				
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>
			
			<div class="my-3">
				<!--추천 수-->
				<!--class="recommend btn btn-sm btn-outline-secondary" >> recommend는 추천 버튼을 클릭하는 이벤트를 얻기 위한 클래스-->
				<a 
					href="javascript:void(0);" 
					class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/question/vote/${question.id}|}"
				>
				추천 
				
					<span class="bagde rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
				</a>
				<!--추천 수-->
				<!--수정-->
				<!--th:if="${question.author != null and #authentication.getPrincipal() == question.author.username}"  >> 로그인한 사용자와 글쓴이가 동일할 경우에만 수정 버튼 노출-->
				<a 
					th:href="@{|/question/modify/${question.id}|}" 
					class="btn btn-sm btn-outline-secondary" 
					sec:authorize="isAuthenticated()" 
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" 
					th:text="수정">
				</a>
				<!--수정-->
				
				<!--삭제-->
				<!--삭제 버튼 클릭 시 자바스크립트 코드 실행-->
				<!--th:data-uri="@{|/question/delete/${question.id}|}" >> 삭제를 실행할 URL을 얻기 위해 추가-->
				<!--data-uri 속성에 설정한 값은 클릭 이벤트 발생 시 별도의 자바스크립트 코드에서 this.dataset.uri 사용해 그 값을 얻어 실행 가능-->
				<a 
					href="javascript:void(0);" 
					th:data-uri="@{|/question/delete/${question.id}|}"
					class="delete btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
					th:text="삭제"
				>					
				</a>
				<!--삭제-->
			</div>
			
		</div>
	</div>
	<!--질문 끝-->
	
	<!--답변 갯수 표시-->
	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
		
	<!--답변 반복 시작-->
	<div class="card my-3" th:each="answer : ${question.answerList}">
		<!--앵커 태그 추가. 앵커 태그 id 속성은 유일한 값이어야 하므로 답변의 id값을 사용-->
		<!--앵커 태그의 id 속성이 유일하지 않고 중복된 값이 존재한다면 맨 처음 한 개를 제외한 나머지 앵커는 제대로 동작하지 않는다.-->
		<a th:id="|answer_${answer.id}|"></a>
		<div class="card-body">
			<!--th:utext >> 마크다운으로 변환된 HTML 문서를 제대로 표시하려면 이스케이프 처리를 하지 않고 출력하는 태그 사용-->
			<div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
			<div class="d-flex justify-content-end">
				<div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>					
				</div>
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			</div>			
			
			<div class="my-3">
				<!--추천 수-->
				<!--class="recommend btn btn-sm btn-outline-secondary" >> recommend는 추천 버튼을 클릭하는 이벤트를 얻기 위한 클래스-->
				<a 
					href="javascript:void(0);" 
					class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/answer/vote/${answer.id}|}"
				>
					추천							
					<span class="bagde rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
				</a>
				<!--추천 수-->
				<!--수정-->
				<!--th:if="${question.author != null and #authentication.getPrincipal() == question.author.username}"  >> 로그인한 사용자와 글쓴이가 동일할 경우에만 수정 버튼 노출-->
				<a 
					th:href="@{|/answer/modify/${answer.id}|}" 
					class="btn btn-sm btn-outline-secondary" 
					sec:authorize="isAuthenticated()" 
					th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
					th:text="수정">
				</a>
				<!--수정-->
							
				<!--삭제-->
				<!--삭제 버튼 클릭 시 자바스크립트 코드 실행-->
				<!--th:data-uri="@{|/question/delete/${question.id}|}" >> 삭제를 실행할 URL을 얻기 위해 추가-->
				<!--data-uri 속성에 설정한 값은 클릭 이벤트 발생 시 별도의 자바스크립트 코드에서 this.dataset.uri 사용해 그 값을 얻어 실행 가능-->
				<a 
					href="javascript:void(0);" 
					th:data-uri="@{|/answer/delete/${answer.id}|}"
					class="delete btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
					th:text="삭제"
				>					
				</a>
				<!--삭제-->
			</div>			
		</div>
	</div>
	<!--답변 반복 끝-->
	
	<!--답변 작성-->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
		
		<!--검증 실패하는 경우 오류메시지 출력-->
		<!--<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
		</div>-->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<!--로그아웃 상태-->
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
		<!--로그인 상태-->
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
		<input type="submit" value="답변 등록" class="btn btn-primary my-2">
	</form>
	<!--답변 작성 끝-->	
</div>

<script layout:fragment="script" type="text/javascript">
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element){
		element.addEventListener('click', function(){
			if(confirm("정말로 삭제하시겠습니까?")){
				location.href = this.dataset.uri;
			};
		});
	});
	
	const recommend_elements = document.getElementsByClassName("recommend");
	Array.from(recommend_elements).forEach(function(element){
		element.addEventListener('click', function(){
			if(confirm("정말로 추천하시겠습니까?")){
				location.href = this.dataset.uri;
			};
		});
	});
</script>
</html>